@page "/"

<button class="btn btn-primary" @onclick="Run" >Start</button>

<RegisterListComponent Registers=@RegistersFromBus></RegisterListComponent>
<MMUComponent MMU=@MMUFromBus></MMUComponent>
<RAMComponent RamModule=@RamModuleFromBus></RAMComponent>
<div>
    @foreach(var mi in C.currentMicroCode)
    {
        <p>@mi.ToSingleLineString()</p>   
    }
</div>


